body {
    font-family: "Roboto", 'Times New Roman', sans-serif;
    display:flex;
    flex-direction:column;
    padding:0px;
    margin:0px;

}


.header {
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    background: black;
    padding:24px;
    


}

h2 {
    display:flex;
    font-size: 48px;
    color:black;
    font-weight:900;
    margin:0px;
    padding:0px;


}
.header-left {
    color: rgb(150, 12, 12);
    font-weight: 900;
    font-size: 48px;

}
.header-right {
    display:flex;

}


.top {
    display:flex;
    justify-content: center;
    background: rgb(150, 12, 12);
    padding:100px;
    color:black;
    font-size: 18px;
    gap:100px;
    
}

.top-left {

    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
    gap:8px;
    

}

.title-picture {

        width: auto;
        height: 300px;


}


p{
   margin:0px;


}



button {

    background-color: black;
    color:rgb(150, 12, 12);
    font-weight: 900;
    width:100px;
    height:35px;
    padding:8px;
    border-radius: 8px;




}

h3 {

    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    text-align: center;


}





.middle {

        display:flex;
        flex-direction: column;
        padding:25px;

}

.container {
        display:flex;
        justify-content: center;
        gap:32px;


}
.block {

    display:flex;
    flex-direction: column;
    max-width: 200px;
    margin-bottom:100px;



}

img  {
        width: auto;
        height:200px;
        border: black solid 2px;


}

.text   {

        margin-top: 8px;



}

.middle-two {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #E5E7EB;
    padding: 0px;


}

.container-two {
        position: relative;





}


.sexy-pool {
        
        width: auto;
        height: 500px;

}

.deadpool-quote {
        font-style:italic;
        font-size: 24px;
        position: absolute;
        top:10%;
        left:20%;

       

}

.deadpool-sig {
        font-weight: 900;
        font-size:32px;
        position: absolute;
        top:30%;
        left:75%;



}


.bottom {
        display:flex;
        justify-content: center;
        background: rgb(150, 12, 12);
        padding:150px;
        color:yellow;



}

.container-three {

        background: black;
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding:32px;
        width:700px;
        border-radius: 8px;



}

.call-to-action {
        display:flex;
        flex-direction: column;


}

h4 {
    padding:0px;
    margin:0px;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 8px;



}

.footer {
    text-align: center;
    background: black;
    padding:24px;
    color:rgb(150, 12, 12);




}

a {
    text-decoration: none;
    color:rgb(150, 12, 12);
    font-size: 18px;
    

}

ul {
    margin:0px;
    padding:0px;
    display:flex;
    gap: 24px;

}

.wolverine {

    background: yellow;
    color:black;



}